.cart{
    width: 100%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
.cart img{
    width: 100%;
    border-radius: 10px;
}
.cart h2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.cart.description{
    margin-top: 10px;
}
.time{
    margin-top: 40px;
}
.cart-btn{
    padding: 8px 30px;
    border-radius: 8px;
    border: none;
    background: #58adf8;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}
@media screen and (min-width: 700px) and (max-width: 1100px) {
    .cart{
        padding: 5px;
    }
}

@media screen and (max-width: 700px) {
    .cart{
        padding: 5px;
    }
}