
.main-body{
    display: grid;
    grid-template-columns: 6fr 2fr;
    background: rgb(251, 238, 238);
}
.cartParent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
}
.card-main{
    margin: 100px 100px 50px 150px;
}
@media screen and (min-width: 700px) and (max-width: 1100px) {
    .main-body{
        display: block;
    }
    .cartParent{
        /* display: block; */
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .card-main{
        margin: 0px;
        padding: 5px;
    }
}

@media screen and (max-width:700px) {
    .main-body{
        display: block;
    }
    .cartParent{
        /* display: block; */
        grid-template-columns: repeat(1,1fr);
    }
    .card-main{
        margin: 0px;
        padding: 5px;
    }
}